<br><br>
<p class="display-6 text-center">Cadastro Anuncio</p>
<br><br>


<div class="row">
  <div class="col-8 m-auto">



    <div class="mb-3">
<div class="display-6 text-center">
    </div>
  </div>

    <div class="mb-3">
      <label for="name" class="form-label">Título:</label>
      <input type="text" formControlName="name"    class="form-control" id="name" placeholder="Nome">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Descrição:</label>
      <input type="email" formControlName="email"   class="form-control" id="email" placeholder="Email">
    </div>


    <div class="mb-3">
      <label for="telefone" class="form-label">Preço:</label>
      <input type="text" formControlName="telefone"   class="form-control" id="telefone" placeholder="Telefone">
    </div>

    <div class="mb-3">
      <label for="telefone" class="form-label">imagem:</label>
      <input type="text" formControlName="telefone"   class="form-control" id="telefone" placeholder="Telefone">
    </div>

    
    <div class="mb-3">
    <button class="btn btn-primary me-1">Salvar</button>
    <button class="btn btn-secondary me-1">Limpar</button>

